<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Advanced NASA API</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/module.css">
	</head>
	<body>
		<h1>NASA Facilities Location</h1>
		<button type="button" name="button">Get all of NASA's locations now</button>

		<ol class="list">

		</ol>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
