* {
  box-sizing: border-box;
}

body {
  /* background-image: url('pexels-pixabay-355887.jpg'); */
  /* background-size: cover; */
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Ubuntu Mono';
  
}

h1 {
  font-family: 'Orbitron';
}

button {
  font-family: 'Orbitron';
  color: white;
  background-color: blue;
  width: 20%;
}
.container{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;

}
ul{
  list-style: none;
}