* {
  box-sizing: border-box;
}
body {
  background-image:url("https://i.pinimg.com/originals/0a/a6/dc/0aa6dcaa20ebe5349fbc7301d8339e74.jpg");
  align-items: center;
  height:480px; 
  background-position: 43% 35%;
  background-size:100%; 
}
h1{
  text-decoration: underline;
}
button{
  margin-left:40%;
  background-color:rgb(123, 160, 216);
  font-size: 25px;


}
div{
  background-color:rgb(123, 160, 216) ;
  width:55%;
  margin-left:25%;
  text-align: center;

}

ol {
  background-color:rgb(123, 160, 216) ;
  width:55%;
  margin-left:25%;
  text-align: center;
  font-size:20px;
  font-weight:bolder;
}



