body { 
    background-image: url("background.webp");
    background-repeat: none;
    text-align: left;
    color: white;
    font-family: 'Arvo', serif;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Rock Salt', cursive;
    font-family: 'Shippori Mincho', serif;
}



