*{
    box-sizing: border-box;
}
html{
    height: 100%;
    background-image: url(./images/blackbackground.gif);
    background-size: cover;
    background-position: center;
    
    
}
body{
    text-align: center;
    color: white;
    font-size: 62.5%;
    text-align: center;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    height: 100%;
}
h1{
    font-size: 3rem;
}
h2,h3{
    font-size: 2rem;
}
h4,h5{
    font-size: 1.5rem;
}
button{
    border-radius: 8px;
    padding: 5px;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
}
