div{
  margin-bottom: 13px;
  border-bottom: 2px solid black;
}
body {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 15px;
  text-align: center;
  font-family: 'Jomolhari', serif;
}

h1{
  font-size: bold;
  font-weight: bold;
  font-size: 50px;
}

button {
  height: 20px;
  cursor: pointer;
  width: 20%;
}
