* body {
  background-image: url("../NasaComplex/");
}

.order {
  border: 1px solid red;
  height: 700px;
  width: 75%;
}
button {
  float: right;
}

ol {
  height: 50px;
  width: 75%;
  overflow: scroll;
}
li {
  border: 1px solid red;
  height: 20px;
  width: 75%;
  margin: 2px;
}
