body{
  background-color: rgb(34, 34, 34);
}

section{
  display: flex;
  align-items: center;
  flex-direction: column;
}

button{
  font-size: 1.5rem;
  outline: none;
  border-radius: 1px;
  border: grey;
  background-color: rgb(202, 50, 31);
  color: rgb(250, 250, 250);
  font-family: 'Oxanium', cursive;
  cursor: pointer;
}

img{
  width: 25rem;
  margin-bottom: 1rem;
}

li{
  color: white;
  list-style: none;
  font-family: 'Oxanium', cursive;
}
